[submodule "framework/HiggsAnalysis/CombinedLimit"]
	path = framework/HiggsAnalysis/CombinedLimit
	url = git@github.com:nickmccoll/HiggsAnalysis-CombinedLimit.git
[submodule "framework/AnalysisSupport"]
	path = framework/AnalysisSupport
	url = https://github.com/nickmccoll/AnalysisSupport.git
